body {
    background-image: url(/images/grass.png);
}
.line {
    background-image: url(/images/grass.png);
}
.card {
    background-color: black;
    color: #ffcc00
}
.card-header-title {
    background-color: black;
    color: #ffcc00
}

.container {
    margin-top: 20px;
    overflow: auto;
}